<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>

    <ion-item *ngFor="let pokemon of sortedarray" lines="full">
      <ion-thumbnail slot="start">
        <img class="dex-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.entry_number}}.png">
      </ion-thumbnail>
      <ion-label>
        <h2 style="margin-bottom: 10px">{{pokemon.name}}</h2>
        <ion-badge [style.background] = "getColor(pokemon.types[0])">{{pokemon.types[0]}}</ion-badge>
        <ion-badge [style.background] = "getColor(pokemon.types[1])">{{pokemon.types[1]}}</ion-badge>
      </ion-label>
      <!--<ion-button fill="outline" slot="end">View</ion-button>-->
    </ion-item>
  </ion-list>

</ion-content>
