.dex-list{
  float: left;
  width: 100%;
}

.dex-img{
  float: left;
}

.dex-name{
  float: left;
}

ion-thumbnail{
  width: 100px;
  height: 80px;
}

//ion-item{
//  height: 100px;
//  border-width: var(--inner-border-width);
//  border-style: var(--border-style);
//  border-color: var(--border-color);
//}

ion-badge{
  margin-right: 5px;
}

.item-inner{
  border-style: unset !important;
}


app-home{
  .item-inner{
    border-style: unset !important;
  }
}
